-
  var toolsItem = [
    {
      name: "Кадрировать",
      link: "#",
      abbr: "crop"
    },
    {
      name: "Заполнить",
      link: "#",
      abbr: "fill"
    },
    {
      name: "Контраст",
      link: "#",
      abbr: "contrast"
    }
  ]

mixin editor
  +b.FORM.editor
    +e.img-wrap
      +e.IMG.img(
        src="https://placebear.com/200/300",
        alt="Ваша фотография",
        width="280",
        height="374")
    +e.tools
      each item in toolsItem
        +e.A(class="tool--" + item.abbr, href=item.link, title=item.name)= item.name
          +e.SVG.icon
            use
    +e.scale
      +e.toggle
    +e.btns
      +b.BUTTON.btn--editor(type="submit") Запостить
      +b.BUTTON.btn--editor(type="reset") Отмена
