-
  var toolsItems = [
    {
      name: "crop",
      title: "Кадрировать",
      isChecked: "checked"
    },
    {
      name: "fill",
      title: "Заполнить",
      isChecked: false
    },
    {
      name: "contrast",
      title: "Контраст",
      isChecked: false
    }
  ]

mixin editor
  +b.FORM.editor
    +e.img-wrap
      +e.IMG.img(
        src="https://placebear.com/200/300",
        alt="Ваша фотография",
        title="Ваша фотография"
        )
    +e.tools
      each item, index in toolsItems
        +e.INPUT(
          type="radio",
          name="tool"
          id="tool-" + item.name + (index + 1),
          checked=item.isChecked
          )
        +e.LABEL(
          class="__item--" + item.name,
          for="tool-" + item.name + (index + 1)
          )= item.title
          +e.SVG.icon
            use

      each item in toolsItems
        +e(class="control--" + item.name)
          +e.scale
            +e.toggle

    +e.btn-wrap
      +b.BUTTON.btn--editor(type="submit") Запостить
      +b.BUTTON.btn--editor(type="reset") Отмена
