mixin post(item)
  +b.ARTICLE.post
    +e.A.link(href=item.link)
      if item.top
        +e.IMG.img--top(
          src=item.img
          alt=item.imgAlt)
      else
        +e.IMG.img(
          src=item.img
          alt=item.imgAlt)
      +e.HEADER.header
        +e.H1.author= item.author
        +e.TIME.time(pubdate="pubdate", datetime=item.pubdate)= "(" + item.time + ")"
      +e.P.text= item.text
      +e.FOOTER.footer
        +e.BUTTON(type="submit").btn
          +e.SVG.icon
            use
        +e.SPAN.likes= "Нравится: " + item.likes
